{% load bootstrap3 %}
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">
        {%for project in projects%}
        <!--Grid column-->
        <div class="col-md-2">
  
          <!--Image-->
         
          <!-- <div class="view overlay z-depth-1-half" style="height: 200px;" >
            <img src="{{project.image.url}}" class="img-fluid"
              alt="">
            <a href="{{project.link}}" target="_blank">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        {%endfor%} -->
        <!--Grid column-->
  
        
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> Prates.com</a>
    </div> -->
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->